/* Contact Header  */
.contact-header__heading {
  font-size: clamp(30px, 5vw, 54px);
}
.contact-info p {
  font-size: 16px;
  line-height: 26px;
  width: 80%;
}
@media (max-width: 991px) {
  .contact-info h2,
  .contact-info p {
    width: 100%;
  }
}
/* Feature Section  */

.feature-section__banner {
  background-color: var(--light-gray);
}
.feature-section__banner .promo-img {
  height: 400px;
}

.contact-header strong {
  color: var(--secondary-base);
}

.feature-section__banner {
  width: 100%;
  margin: auto;
}

/* Contact Section  */
.card-section {
}
.contact-icon {
  font-size: 24px;
}
.contact-us__form-label {
  color: var(--base-gray);
  font-size: 12px;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact-us__input,
.contact-us__text-area {
  width: 100%;
  padding: 7px 16px;
  border-radius: 5px;
  outline: none;
  line-height: 1.7;
  border: 1px solid var(--light-gray);
}
.contact-us__text-area {
  min-height: 140px;
}
.card-title,
.card-text {
  font-size: 16px;
  line-height: 16px;
}
.card-text {
  font-weight: 600;
}
.card-title {
  color: #72797a;
  font-weight: 700;
}
.contact-apply {
  /* display: flex;
  gap: 10px;
  justify-content: space-between; */
}
/* form {
  display: flex;
  gap: 25px;
  padding: 10px;
} */
/* input {
  border: 1px solid #000;
  border-radius: 10px;
} */
/* label {
  color: #7c797a;
  font-size: 14px;
  font-weight: 700;
} */
.dframer {
  width: 100%;
  max-width: 50%;
  height: 450px;
}
.dframer {
}

@media (max-width: 991px) {
  .card-section {
    flex-direction: column;
  }
  .contact-apply {
    flex-direction: column;
  }
  .sendMessage {
    width: 100%;
  }
  .dframer {
    max-width: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }
}
