.normal-btn {
  padding: 0.7em 3em;
  border: none;
  color: #fff;
  background-color: var(--primary-base);
}
.normal-btn.secondary {
  background-color: var(--secondary-base);
}
.normal-btn.black {
  background-color: var(--base-black);
}
.outline-btn {
  background-color: #fff;
  border: 1px solid currentColor;
  padding: 0.64em 0.8em;
}
.link-btn {
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.1em;
}
.normal-btn:hover {
  opacity: 0.92;
}
.outline-btn:hover {
}
.link-btn .arrow-right {
  transition: transform 0.1s ease-out;
}
.link-btn:hover .arrow-right {
  transform: translateX(3px);
}

.close-btn:hover {
  fill: red;
}
