.normal-btn {
  padding: 0.7em 3em;
  border: none;
  color: #fff;
  background-color: var(--primary-base);
}
.normal-btn.secondary {
  background-color: var(--secondary-base);
}
.normal-btn.black {
  background-color: var(--base-black);
}
.outline-btn {
  background-color: #fff;
  border: 1px solid currentColor;
  padding: 0.64em 0.8em;
}
.underline-arrow-btn {
  padding-bottom: 0.1em;
  border-bottom: 1px solid currentColor;
}

.normal-btn:hover {
  opacity: 0.92;
}
.outline-btn:hover {
}
.underline-arrow-btn .arrow-right {
  transition: transform 0.1s ease-out;
}
.underline-arrow-btn:hover .arrow-right {
  transform: translateX(3px);
}
.plain-btn {
  background-color: unset;
  border: unset;
  padding: 0.7em 3em;
  transform: opacity ease-in-out 0.2s, transform ease-in-out 0.2s;
}
.plain-btn:hover {
  opacity: 0.8;
}
.plain-btn:active {
  transform: scale(0.97);
}

.close-btn:hover {
  fill: red;
}
