.blog-listing__tab {
  color: var(--base-black);
  border-bottom: 2px solid transparent;
}

.blog-listing__tab.active,
.blog-listing__tab.active:hover {
  color: var(--base-black);
  border-bottom: 2px solid currentColor;
}
.blog-listing__tab:hover {
  color: var(--base-gray);
  border-bottom: 2px solid currentColor;
}

.layout-icon {
  border: 1px solid var(--gray-100);
  padding: 8px 10px;
  border-collapse: collapse;
  cursor: pointer;
  color: var(--base-gray);
}
.layout-icon.active,
.layout-icon:hover {
  background-color: var(--light-gray);
  color: var(--base-black);
}

.show-more-btn {
  transition: transform 0.2s ease;
}
.show-more-btn:hover {
  background-color: var(--base-black);
  color: #fff;
}
.show-more-btn:active {
  transform: scale(0.98);
}
