@import "@fontsource/open-sauce-one";

h2 {
  font-family: "Coolvetica", sans-serif;
}

.hero-section {
  height: calc(100vh - var(--site-header-height));
}

.hero-img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
}

.overlay-container {
  color: white;
  width: clamp(492px, 42%, 672px);
}

.hero__heading {
  font-size: 4.3rem;
  margin-top: 2rem;
  letter-spacing: 2px;
}

.overlay-container h1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 19.39%,
    #fff 86.5%,
    rgba(255, 255, 255, 0) 106.21%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.overlay-container p {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.btn.skyBtn {
  padding: 0.75rem 3rem;
  background-color: #00aaff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn.skyBtn:hover {
  background-color: #008fcc;
}

/* Media Query for responsiveness */
@media (max-width: 991px) {
  .overlay-container {
    text-align: center;
    padding: 10px;
    margin-inline: auto;
    width: 100%;
  }

  .overlay-container h1 {
    font-size: 3rem;
  }

  .overlay-container p {
    font-size: 16px;
  }
  .breakpoint {
    display: none;
  }
  .btn.skyBtn {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .overlay-container h1 {
    font-size: 3.4rem;
  }

  .overlay-container p {
    font-size: 16px;
  }
  .btn.skyBtn {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .overlay-container h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  .overlay-container p {
    font-size: 1.2rem;
  }
}

/* FeaturedSection */

.pagination-el {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
}

.pagination-el.active {
  border-color: var(--base-black);
  border-radius: 50%;
}
.pagination-el__bullet {
  background-color: var(--base-gray);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pagination-el.active .pagination-el__bullet {
  background-color: var(--base-black);
}

.featured__carousel .product-item {
  min-width: 244px;
}

/* CategoriesSection */

.categories-section {
  text-align: center;
  margin-top: 60px;
}

.categories-section h1 {
  font-family: coolvetica;
  font-size: 40px;
  font-weight: 400;
}

.categories {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 20px; */
}

.category-item {
  /* flex: 1 1 150px;
  max-width: 400px;
  text-align: center; */
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-item p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-item p {
    font-size: 16px;
  }
}

/* Banner Section */

.banner {
  max-width: 50%;
}
.banner-img {
  width: 100%;
  height: 100%;
}
.banner-header {
  font-size: 16px;
  font-weight: 700;
  color: #008fcc !important;
  line-height: 20px;
}
.banner-content p {
  color: #008fcc;
}
.banner-content p {
  color: #008fcc;
}
.banner-content h2 {
  font-size: 40px;
  color: #f3f5f7;
}
.banner-content p {
  color: #fff;
  font-weight: 400;
}

.banner-content span {
  font-size: 16px;
}

.shopping-btn {
  background-color: var(--secondary-base);
}

.shopping-btn:hover {
  color: #fff;
}
@media (max-width: 991px) {
  /* .banner-section {
    flex-direction: column;
    gap: 20px;
  } */
  .banner {
    max-width: 100%;
  }
  /* .shopping-btn {
    margin-bottom: 50px;
  } */
}

/* ShopCollection  */

.collection__link {
  font-size: 1rem;
}
.shop-collection__item:first-of-type {
}

.shop-collection__item:first-of-type img {
}

@media (max-width: 575px) {
  .collection__link {
    font-size: 0.8rem;
  }
}
/* Latest Article */

@media (max-width: 991px) {
  .articles__grid > *:last-child {
    display: none;
  }
}
