.quantity-stepper {
  display: inline-flex;
}
.quantity-stepper.outline {
  border: 1px solid var(--base-gray);
}
.quantity-stepper.filled {
  background-color: #f5f5f5;
}
.quantity-input {
  outline: none;
  max-width: 40px;
  line-height: 32px;
  background-color: inherit;
  border: 0;
  text-align: center;
}

.decrement-btn,
.increment-btn {
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  fill: var(--base-gray);
  stroke: var(--base-gray);

  transition: stroke 0.2s ease, fill 0.2s ease, transform 0.2s ease;
}
.decrement-btn:hover,
.increment-btn:hover {
  fill: var(--base-black);
  stroke: var(--base-black);
}
.decrement-btn:active,
.increment-btn:active {
  transform: scale(0.91);
}
