.footer__nav .divider {
  width: 2px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--base-gray);
}

.footer__bottom .policy {
  border-left: 1px solid var(--base-gray);
}

@media screen and (max-width: 996px) {
  .footer__nav .divider {
    height: 1px;
    width: 14px;
    margin: 8px auto 10px;
  }
  .footer__bottom .policy {
    border: 0;
  }

  .payment-methods img {
    width: 48px;
  }
}
