@import url("https://fonts.cdnfonts.com/css/coolvetica");
/* 
Color palette 
will be here as css variables
*/
/* Default styles (Light mode) */
/* Light mode styles */
/* body {
  background-color: #f0f0f0;
  color: #333;
} */

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #f0f0f0;
} */

/* Example for buttons */
/* button {
  background-color: #007bff;
  color: white;
} */

/* @media (prefers-color-scheme: dark) {
  button {
    background-color: #007bff;
    color: #ccc;
  }
}
} */

:root {
  --primary-base: #001f3f;
  --primary-100: #e6e9ec;
  --primary-200: #d9dde2;
  --primary-300: #b0bac3;
  --primary-400: #001932;
  --primary-500: #00172f;
  --primary-600: #001326;
  --primary-700: #000b16;
  --primary-800: #9c9a9b;
  --primary-900: #7c797a;

  --secondary-base: #00bfff;
  --secondary-100: #e6f9ff;
  --secondary-200: #d9f5ff;
  --secondary-300: #b0ebff;
  --secondary-400: #00ace6;
  --secondary-500: #008fbf;
  --secondary-600: #203b57;
  --secondary-700: #001f3f;

  --white-100: #fefefe;
  --light-gray: #f3f5f7;
  --base-gray: #7c797a;
  --gray-100: #e8ecef;
  --gray-200: #e6e9ec;

  --rating-gold: #f86624;
  --base-black: #030206;

  /* scrollbar-gutter: stable; */
}

/* utility classes  */
.font-primary,
h1 {
  font-family: "Coolvetica", sans-serif;
}
.font-secondary {
  font-family: "Open Sauce One", sans-serif;
}

.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: 12px;
}
.text-inherit {
  color: inherit;
}
.text-base-primary {
  color: var(--primary-base);
}
.text-base-secondary {
  color: var(--secondary-base);
}
.text-base-black {
  color: var(--base-black);
}
.text-base-gray {
  color: var(--base-gray);
}
.text-gray-100 {
  color: var(--gray-100);
}
.text-gold {
  color: var(--rating-gold);
}
.bg-black-base {
  background-color: var(--base-black);
}
.bg-primary-base {
  background-color: var(--primary-base);
}
.bg-secondary-400 {
  background-color: var(--secondary-400);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}
.bg-gray-base {
  background-color: var(--base-gray);
}
.bg-gray-light {
  background-color: var(--light-gray);
}
.w-0\.5 {
  width: 2px;
}
.w-1 {
  width: 4px;
}
.w-2 {
  width: 8px;
}
.w-3 {
  width: 12px;
}
.w-4 {
  width: 16px;
}
.w-5 {
  width: 20px;
}
.w-6 {
  width: 24px;
}
.h-0\.5 {
  height: 2px;
}
.h-1 {
  height: 4px;
}
.h-2 {
  height: 8px;
}
.h-3 {
  height: 12px;
}
.h-4 {
  height: 16px;
}
.h-5 {
  height: 20px;
}
.h-6 {
  height: 24px;
}
.h-fullscreen {
  height: 100vh;
}
.border-base-gray {
  border-color: var(--base-gray);
}
.border-gray-100 {
  border-color: var(--gray-100);
}
.border-base-black {
  border-color: var(--base-black);
}

.lh-\[24px\] {
  line-height: 24px;
}

.btn-reset {
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}
.btn-animation {
  transform: scale(1);
  transition: scale 0.3s ease;
}
.btn-animation:active {
  scale: (0.95);
}

body {
  --site-header-height: 76px;
  font-family: "Open Sauce One", sans-serif;
  color: var(--base-black);
}
h1 {
  font-size: clamp(40px, 5vw, 54px);
}
h2 {
  font-size: clamp(30px, 4vw, 40px);
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
.row {
  margin-inline: auto;
}
.section__body {
  padding-top: 48px;
  padding-bottom: 48px;
}

.layout {
  min-height: 100vh;
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.link:hover {
  opacity: 0.85;
}
@media screen and (max-width: 991px) {
  .row > * {
    --bs-gutter-y: 1rem;
  }
  body {
    --site-header-height: 76px;
  }
}
@media screen and (max-width: 575px) {
  .row > * {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
  }

  .container {
    padding-inline: 2rem;
  }

  .section__body {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
